@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;

}
body{
    background: url(dustpin.jpg) no-repeat center center fixed;
    background-size: cover;
}


.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.3em;
    width: 350px;
    
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 10%;
    left: 2%;
    opacity: 0.7;
    overflow-y:auto;
  }
  
  .content-table thead tr {
    background-color: #c28d1a;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    
  }
  .content-table td:nth-child(even):hover{
    background-color: black;
    opacity: 0.5;
    }
    .content-table td:nth-child(odd):hover{
        background-color: black;
        opacity: 0.5;
        }
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
      color: white;
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
    border-bottom: 2px solid #c28d1a;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    font-weight: bold;
    border-bottom: 2px solid #c28d1a;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #c28d1a;
  }
  
  .content-table tbody tr.active-row {
   font-weight: bold;

    color: white;
  }
  